<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Testas</div>

<li>
    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
    <input name="query" class="form-control" type="text" placeholder="Paieška">
    </form>
</li>

{% if not user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{% url 'register'%}">Register</a></li>
{% endif %}

<div>{% block content %}{% endblock %}</div>

</body>
</html>