{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <br>
    <div class="row align-items-start">
        <div class="col">

            {% if object %}
            <p>{{object}}, {{object.arc_angle}} kampas</p>
            {% endif %}
            {% if object_grouped %}
            <p>{{object_grouped}}</p>
            {% endif %}


            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary register-button" id="create" name="create">kurti naują grupę</button>
                <br>
                <br>
                {% if objects_grouped %}
                <p>čia atrinkti panašaus profilio radiniai (koreliacijos koeficientas > 0,95). Pasirinkite vieną iš jų ir paspauskite "rodyti". Jeigu radinys tinka, spauskite "grupuoti radinius", arba pasirinkite kitą. Jeigu sąraše nėra tinkamų profilių, spauskite "kurti naują grupę"  </p>
                <select class="col" name="objects_grouped" id="objects_grouped" multiple>
                    {% for item in objects_grouped %}
                    <option value="{{item.id}}">{{item.contour_group_id}} grupė, {{item.arc_angle}} kampas: {{item}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary register-button" id="show" name="show" value="{{objects_grouped}}">rodyti</button>
                <br>
                <br>
                <br>
                <br>
                {% if choosed_contour %}
                <button type="submit" class="btn btn-primary register-button" id="validate" name="validate" value="{{choosed_id}}">grupuoti radinius</button>
                {% endif %}
                 {% endif %}

            </form>


        </div>
        <div class="col">
            <canvas id="myCanvas" width="500" height="500" class="border"></canvas>
            <script>
                    var canvas = document.getElementById("myCanvas");
                    var ctx = canvas.getContext("2d");
                    ctx.scale(0.5, 0.5);
                    {% if contour %}
                        {% for pixel in contour %}
                            ctx.fillRect({{pixel.x_canvas_middle}}, {{pixel.y}},2,2);
                        {% endfor %}
                    {% endif %}

                    {% if choosed_contour %}
                        ctx.fillStyle = 'rgba(255, 0, 0, 0.5)'
                        {% for pixel in choosed_contour %}
                            ctx.fillRect({{pixel.x_canvas_middle}}, {{pixel.y}},2,2);
                        {% endfor %}
                    {% endif %}

            </script>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}