{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <br>
    <div class="row align-items-start">
        <div class="col">

            {% if object %}
            <p>{{object}}</p>
            {% endif %}
            {% if object_grouped %}
            <p>{{object_grouped}}</p>
            {% endif %}

            {% if objects_grouped %}
            <form action="" method="post">
                {% csrf_token %}

                <select class="col" name="correlated_contours" id="correlated_contours" multiple>
                    {% for item in objects_grouped %}
                    <option> {{item}} </option>
                    {% endfor %}
                </select>


                <button type="submit" class="btn btn-primary register-button" id="show" name="show">rodyti</button>
                <br>
                <br>
                {% if contour_grouped %}
                <button type="submit" class="btn btn-primary register-button" id="validate" name="validate">patvirtinti</button>
                {% endif %}
            </form>
            {% endif %}

        </div>
        <div class="col">
            <canvas id="myCanvas" width="500" height="500" class="border"></canvas>
            <script>
                    var canvas = document.getElementById("myCanvas");
                    var ctx = canvas.getContext("2d");
                    ctx.scale(0.5, 0.5);
                    {% if contour %}
                        {% for pixel in contour %}
                            ctx.fillRect({{pixel.x_canvas_middle}}, {{pixel.y}},2,2);
                        {% endfor %}
                    {% endif %}

                    {% if contour_grouped %}
                        ctx.fillStyle = 'rgba(255, 0, 0, 0.5)'
                        {% for pixel in contour_grouped %}
                            ctx.fillRect({{pixel.x_canvas_middle}}, {{pixel.y}},2,2);
                        {% endfor %}
                    {% endif %}



            </script>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}