{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <br>

        {% if object%}
            <p>{{object.id}}, {{object.name}}, {{ object.year }}</p>

            {% for report in reports %}
                <p>{{report.author}}, {{report.title}}, {{report.report_year}}</p>
            {% endfor %}

              <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary register-button" id="describe" name="describe">describe ceramic</button>
                  <button type="submit" class="btn btn-primary register-button" id="read_drawings" name="read_drawings" >Read drawings</button>
              </form>


        {% endif %}
    {% endif %}

{% endblock %}