{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<br>

{% if object%}
<div class="card">
    <div class="card-body">
        <strong>Archeologinių tyrimų objektas: </strong>
        <p>{{object.name}}, {{ object.year }}</p>
        <br>
        <strong>Dokumentai:</strong>
        {% for report in reports %}
        <p>{{report.author}}, {{report.title}}, {{report.report_year}}</p>
        {% endfor %}


        {% if ceramic_contours %}
        <br>
        <strong>vektorizuota {{ceramic_contours_count}} radinių profilių</strong>
        <br>
        {% endif %}
    </div>
</div>


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <button type="submit" class="btn btn-primary register-button" id="describe_new" name="describe_new">
                aprašyti naujus radinius
            </button>
            <button type="submit" class="btn btn-primary register-button" id="describe_old" name="describe_old">
                tvarkyti esamus radinių aprašus
            </button>
            <button type="submit" class="btn btn-primary register-button" id="read_drawings" name="read_drawings">
                vektorizuoti brėžinius
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Tvarkyti radinio aprašą (įveskite registracijos numerį)</p>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-primary register-button" type="submit">Paieška</button>
        </div>
    </div>
</form>


<div class="card">
    <div class="card-body">
        {% if ceramic %}
        <p>Tvarkyti radinio aprašą (pasirinkite registracijos numerį):</p>
        {% for item in ceramic %}
        <a href="{% url 'update_description' item.id %}">{{item.find_registration_nr}} | </a>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% endif %}
{% endif %}

{% endblock %}