{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if object%}
        <p>{{object.name}}, {{ object.year }}</p>
    {% endif %}
    {% for report in reports %}
        <p>{{report.author}}, {{report.title}}, {{report.report_year}}</p>
    {% endfor %}


    {% if user.is_authenticated %}
        <br>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form}}
                  <br>
                  <button type="submit" class="btn btn-primary register-button">Submit</button>
              </form>
            </div>
            <div class="col">
               <img src="{% static "media/drawing_example.png" %}" alt="home" >
            </div>
          </div>

    {% endif %}

{% endblock %}