{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <br>
    <div class="row align-items-start">
        <div class="col">
            {% if objects_to_review_quantity %}
            <p> turite {{objects_to_review_quantity}} neperžiūrėtų radinių profilių</p>
            {% endif %}
            <br>
            <br>
            {% if object %}
            <p>radinio reg. nr. {{object.find_registration_nr}}, {{object.research_object}}</p>

            <br>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row align-items-start">
                    <br>
                    <br>
                    <div class="col">
                        <input type="text" id="x">
                        <input type="text" id="y">
                        <br>
                        <br>
                        <input type="radio" id="confirm" name="review" value="confirm" checked>
                        <label for="confirm">patvirtinti</label><br>
                        <br>
                        <input type="radio" id="delete" name="review" value="delete">
                        <label for="delete">trinti</label><br>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary register-button" id="submit" name="submit">Ok</button>
                    </div>
                </div>
            </form>
            {% else %}
            <p>neperžiūrėtų radinių nėra</p>
            {% endif %}
        </div>
        <div class="col">
            <canvas id="myCanvas" width="500" height="500" class="border"></canvas>
            <script>
                    var canvas = document.getElementById("myCanvas");
                    var ctx = canvas.getContext("2d");
                    ctx.scale(0.5, 0.5);
                    {% if this_profile%}
                        {% for pixel in this_profile %}
                            ctx.fillRect({{pixel.x_canvas_middle}}, {{pixel.y}},1,1);
                        {% endfor %}
                    {% endif %}
            </script>

            <script>
                    function getMousePosition(canvas, event) {
                        let rect = canvas.getBoundingClientRect();
                        let x = event.clientX - rect.left;
                        let y = event.clientY - rect.top;
                        console.log("Coordinate x: " + x,
                                    "Coordinate y: " + y);
                        document.getElementById("x").value = x*2
                        document.getElementById("y").value = y*2
                    }

                    let canvasElem = document.querySelector("canvas");

                    canvasElem.addEventListener("mousedown", function(e)
                    {
                        getMousePosition(canvasElem, e);
                    });
        </script>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}