{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <br>
    <div class="row align-items-start">
        <div class="col">
            {% if objects_to_review_quantity %}
            <p> turite {{objects_to_review_quantity}} neperžiūrėtų radinių profilių</p>
            {% endif %}
            {% if object %}
            <p>radinio reg. nr. {{object.find_registration_nr}}, {{object.research_object}}</p>
            <form action="" method="post">
                {% csrf_token %}

                    <button type="submit" class="btn btn-success" id="validate" name="validate">patvirtinti</button>
                    <br><br>
                    <p>jeigu profilis neteisingai nubraižytas, jį galima ištrinti:</p>
                    <button type="submit" class="btn btn-dark" id="delete" name="delete">Trinti profilį</button>
            </form>
            {% else %}
            <p>neperžiūrėtų radinių nėra</p>
            {% endif %}
        </div>
        <div class="col">
            <canvas id="myCanvas" width="500" height="500" class="border"></canvas>
        </div>
    </div>
</div>

<script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.scale(0.5, 0.5);

        {% if this_profile %}
            {% for pixel in this_profile %}
                ctx.fillRect({{pixel.x_canvas_middle}}, {{pixel.y}},1,1);
            {% endfor %}
        {% endif %}
</script>

{% endif %}
{% endblock %}