{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <strong>Paieškos pagal "{{query}}" rezultatai:</strong>
      <br>
      <br>
      {% if reports %}
        <ul>
          {% for report in reports %}
            <li>
              <a href="{% url 'object' report.research_object.id %}">{{ report.author }}, {{report.title}}, {{report.report_year}}</a>
            </li>
          <br>
          {% endfor %}
        </ul>
      {% else %}
        <p>Oops. Nieko neradome :(</p>
      {% endif %}
    </div>
  </div>

{% endblock %}